:root {
  --primary-color: #1C3187;
  --secondary-color: #025F68;
  --accent1-color: #F5C400;
  --accent2-color: #D6D6D6;

  --heading-font: Aladin;
  --paragraph-font: "Google Sans Flex", Helvetica, sans-serif;

  --headline-color-on-white: #1C3187;  /* headlines on a white background */ 
  --headline-color-on-color: #F5C400; /* headlines on a colored background */ 
  --paragraph-color-on-white: #025F68; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #D6D6D6; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1C3187  ;
  --nav-link-color: #1C3187;
  --nav-background-color: #F5C400;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #025F68;
}

nav {
    background-color: var(--nav-background-color);
}

nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

main section {
    text-align: center;
}

body {
    background-color: var(--accent2-color);
}

header {
    background-color: var(--primary-color);
}

h4 {
    color: var(--primary-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-link-color)
}

footer p a:hover {
    text-decoration: underline;
}

.book, .join {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color:  var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.logo {
    background-color: white;
    width: 80px;
}

.button-box {
    text-align: center;
}

.msg {
    background-color: var(--paragraph-background-color);
}

.icon {
    width: 80px;
}

.home-title {
    color: var(--primary-color);
}

.msg h2 {
    color: var(--accent1-color);
}

.msg p {
    color: var(--paragraph-color-on-color);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: var(--nav-hover-background-color);
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}