@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --primary-color: #1C3187;
  --secondary-color: #025F68;
  --accent1-color: #F5C400;
  --accent2-color: #D6D6D6;

  --heading-font: Aladin, Verdana, sans-serif;
  --paragraph-font: "Google Sans Flex", Tahoma, sans-serif;

  --headline-color-on-white: #1C3187;  /* headlines on a white background */ 
  --headline-color-on-color: #F5C400; /* headlines on a colored background */ 
  --paragraph-color-on-white: #025F68; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #D6D6D6; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1C3187  ;
  --nav-link-color: #1C3187;
  --nav-background-color: #F5C400;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #025F68;
}

nav {
    background-color: var(--nav-background-color);
}

nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: 35px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

body {
    background-color: var(--accent2-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
}

h2 {
    font-family: var(--paragraph-font);
    margin: 0;
}

h4 {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

footer {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
}

footer a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-link-color)
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color:  var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.logo {
    background-color: white;
    width: 80px;
}

.button-box {
    text-align: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-title {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid var(--primary-color);
}

.msg {
    background-color: var(--paragraph-background-color);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

.msg p {
    color: var(--paragraph-color-on-color);
    font-family: var(--paragraph-font);
    font-size: .8em;
    padding-bottom: 15px;
}

#logo-link {
    padding-top: 5px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: var(--nav-hover-background-color);
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}