@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  --primary-color: #1C3187;
  --secondary-color: #025F68;
  --accent1-color: #F5C400;
  --accent2-color: #D6D6D6;

  --heading-font: Aladin, Verdana, sans-serif;
  --paragraph-font: "Google Sans Flex", Tahoma, sans-serif;

  --headline-color-on-white: #1C3187;  /* headlines on a white background */ 
  --headline-color-on-color: #F5C400; /* headlines on a colored background */ 
  --paragraph-color-on-white: #025F68; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #D6D6D6; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1C3187  ;
  --nav-link-color: #1C3187;
  --nav-background-color: #F5C400;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #025F68;
}

header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    padding: 35px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

body {
    background-color: var(--accent2-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

h2 {
    font-family: var(--paragraph-font);
    margin: 0;
}

h4 {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

footer {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
    font-family: var(--paragraph-font);
}

footer a {
    color: var(--paragraph-color-on-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--nav-hover-link-color)
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.book, .join {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color:  var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.logo {
    background-color: white;
    width: 80px;
}

.button-box {
    text-align: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-title {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid var(--primary-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img, .mountains {
    width: 100%;
}

.msg {
    background-color: var(--paragraph-background-color);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

.msg p {
    color: var(--paragraph-color-on-color);
    font-family: var(--paragraph-font);
    font-size: .8em;
    padding-bottom: 15px;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: var(--nav-hover-background-color);
    grid-column: 1/11;
    grid-row: 4/9;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 140px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: var(--headline-color-on-color);
}

#hero-img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}